<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Database</title>
  <link href="{{ url_for('static',
  filename='bootstrap-3.3.5-dist/css/bootstrap.min.css') }}" rel="stylesheet"
  alt="style" width="50 px" height="50px" />

  <script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>

 <script
 src="{{ url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>
  <style>
    body{
        padding-top:50px; 
        background-color:#89DA59;
        }
    .nav p{
        font-weight:bold;
        }
    }

  </style>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
     
      <a class="navbar-brand" href='#'>Movie Database</a>
    </div>

    <ul class="nav navbar-nav">
      
      <li><a href="/">Home</a></li>

      <p class="navbar-text">Featured Directors:</p>

      <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Martin Scorsese
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
          <li><a href="/MartinScorsese">Director  Bio</a></li>
          <li><a href="/MartinScorsese/TheWolfOfWallStreet">The Wolf of Wall Street</a></li>
          <li><a href="/MartinScorsese/Goodfellas">Goodfellas</a></li>
        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quentin Tarantino
        <span class="caret"></span></a>
        
        <ul class="dropdown-menu">
          <li><a href="/QuentinTarantino">Director Bio</a></li>
          <li><a href="/QuentinTarantino/TheHateful8">The Hateful 8</a></li>
          <li><a href="/QuentinTarantino/PulpFiction">Pulp Fiction</a></li>
        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Denis Villeneuve
        <span class="caret"></span></a>
        
        <ul class="dropdown-menu">
          <li><a href="/DenisVilleneuve">Director Bio</a></li>
          <li><a href="/DenisVilleneuve/BladeRunner2049">Blade Runner: 2049</a></li>
          <li><a href="/DenisVilleneuve/Arrival">Arrival</a></li>
        </ul>
      </li>
    
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-10">
  <h1>Martin Scorsese</h1>
  <br>
  </div>
<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle
img-responsive" src="static/MS/MS.jpg" alt="Martin Scorsese">
</div>
</div>

<br>

</body>
</html>
