<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Database</title>
  <link href="{{ url_for('static',
  filename='bootstrap-3.3.5-dist/css/bootstrap.min.css') }}" rel="stylesheet"
  alt="style" width="50 px" height="50px" />

  <script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>

 <script
 src="{{ url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>
  <style>
    body{
        padding-top:70px; 
        background-color:#89DA59;
        }
    .nav p{
        font-weight:bold;
        }

  </style>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
     
      <a class="navbar-brand">Movie Database</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>

      <p class="navbar-text">Featured Directors:</p>

      <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Martin Scorsese
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
          <li class="active"><a href="/MartinScorsese">Director  Bio</a></li>
          <li><a href="/MartinScorsese/TheWolfOfWallStreet">The Wolf of Wall Street</a></li>
          <li><a href="/MartinScorsese/Goodfellas">Goodfellas</a></li>
        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quentin Tarantino
        <span class="caret"></span></a>
        
        <ul class="dropdown-menu">
          <li><a href="/QuentinTarantino">Director Bio</a></li>
          <li><a href="/QuentinTarantino/TheHateful8">The Hateful 8</a></li>
          <li><a href="/QuentinTarantino/PulpFiction">Pulp Fiction</a></li>
        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Denis Villeneuve
        <span class="caret"></span></a>
        
        <ul class="dropdown-menu">
          <li><a href="/DenisVilleneuve">Director Bio</a></li>
          <li><a href="/DenisVilleneuve/BladeRunner2049">Blade Runner: 2049</a></li>
          <li><a href="/DenisVilleneuve/Arrival">Arrival</a></li>
        </ul>
      </li>
    
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-10">
  <h1>Martin Scorsese</h1>
  <br>
  <p class="lead">Born November 17th 1942 in Queens, New York City, Martin Scorsese is a well known
  director mainly known for: Raging Bull(1980), Goodfellas(1990) and Gangs of
  New York(2002)</p>
  
  <br>
  <h2>Related Pages:</h2>
  </div>
<div class="col-sm-2"><a href="" class="pull-right"><img title="profile image" class="img-circle
img-responsive" src="{{ url_for('static', filename='ms/ms2.jpg') }}" alt="Martin Scorsese">
</div>
</div>

<br>

<div class="container">
<div class="col-sm-10">
  
  <br>
  
    <div class="row imagetiles">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <a href="/MartinScorsese/TheWolfOfWallStreet">The Wolf of Wall Street</a>
      <img src="{{ url_for('static', filename='ms/wolf2.jpg') }}" alt="Wolf of Wall Street" class="img-responsive">
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <a href="/MartinScorsese/Goodfellas">Goodfellas</a>
      <img src="{{ url_for('static', filename='ms/good2.jpg') }}" alt="Goodfellas" class="img-responsive">
      </div>
  </div>
</div>

</body>
</html>
